name: agendai
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  intl: ^0.20.2

  # **Notificaciones compatibles**
  flutter_local_notifications: 18.0.1
  timezone: ^0.9.4
  firebase_core: ^3.6.0
  firebase_messaging: ^15.0.1
  
  # Supabase
  supabase_flutter: ^2.10.3
  
  shared_preferences: ^2.3.2
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
